@model IEnumerable<SotecjorCRUD2.Models.Entities.Material>

@{
    ViewData["Title"] = "Indice";
}

@section    Styles{ 
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />    
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Materiales</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin">Home</a></li>
                        <li class="breadcrumb-item active">Gestionar Materiales</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <p>
                <a class="btn btn-primary" asp-action="Crear" asp-controller="Materiales"><i class="fas fa-plus"></i>Crear nuevo material</a>
            </p>


            <table class="table" id="tabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CodigoMaterial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoMaterial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                <a class="btn btn-outline-primary btn-lg" asp-action="Editar" asp-route-id="@item.MaterialId"><i class="fas fa-edit"></i>Editar</a>
                                <a class="btn btn-outline-warning" asp-action="Detalles" asp-route-id="@item.MaterialId"><i class="fas fa-info"></i>Detalles</a>
                                <a class="btn btn-outline-danger btn-sm" onclick="return confirm('¿Desea eliminar el registro?')" asp-action="Eliminar" asp-route-id="@item.MaterialId"><i class="fas fa-user-slash"></i>Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{ 
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/tabla.js"></script>

} 