@model IEnumerable<SotecjorCRUD2.Models.Entities.Material>

@{
    ViewData["Title"] = "Indice";
}

<h1>Materiales</h1>

<p>
    <a class="btn btn-primary" asp-action="Crear"><i class="fas fa-plus"></i>Crear nuevo material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMaterial)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMaterial)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-lg" asp-action="Editar" asp-route-id="@item.MaterialId"><i class="fas fa-edit"></i>Editar</a> |
                <a class="btn btn-outline-warning" asp-action="Detalles" asp-route-id="@item.MaterialId"><i class="fas fa-info"></i>Detalles</a> |
                <a class="btn btn-outline-danger btn-sm" onclick="return confirm('¿Desea eliminar el registro?')" asp-action="Eliminar" asp-route-id="@item.MaterialId"><i class="fas fa-user-slash"></i>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
